@font-face {
  /*font-family: "Volkorn";
  src: url("public/Vollkorn-VariableFont_wght.ttf");*/
  font-family: "Univers";
  src: url("public/Univers.otf");
}

@font-face {
  font-family: "Peignot";
  src: url("public/Peignot.ttf");
}

body {
  padding: 0;
  margin: 0;
  min-width: 500px;
  font-family: Univers, sans-serif, Cantarell, Fira Sans, Droid Sans, Helvetica Neue,
    sans-serif;
  font-size: 1.125rem;
}

p, li {
  font-family: linotype-sabon;
  font-weight: 400;
  font-style: normal;
  letter-spacing: .02rem;
  line-height: 140%;
}

.light-cyan {
  color: #1bcef8;
}

.case-study-sub {
  padding-left: 0;
}

* {
  box-sizing: border-box;
}

.background-rain {
  width: 100%;
  height: 100%;
  position: absolute;
  object-fit: cover;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
}

.background-cherry {
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: fixed;
  top: 0;
}

.container {
  min-height: 100vh;
  padding: 0 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

main {
  padding: 0 2rem 2rem 2rem;
  width: 100%;
  max-width: 700px;
  height: auto;
  flex: 1;
  display: flex;
  flex-direction: column;
  background-size: contain;
  color: #202020;
  position: relative;
}

a {
  color: inherit;
  text-decoration: none;

  animation-name: link-hover-out;
  animation-duration: .2s;
  animation-fill-mode: forwards;
  animation-timing-function: ease-out;
}

a:hover {
  color: #0000EE;

  animation-name: link-hover;
  animation-duration: .2s;
  animation-fill-mode: forwards;
  animation-timing-function: ease-out;
}

@keyframes link-hover {
  from {color: inherit;}
  to {color: #0000EE;}
}

@keyframes link-hover-out {
  from {color: #0000EE;}
  to {opacity: inherit;}
}

.title {
  margin: 0;
  line-height: 1.15;
  font-size: 9rem;
  font-family: Peignot;
  background-color: #1b00f8;
  color:  white;

  a:hover {
    color: #0000EE;

    animation-name: black-link-hover;
    animation-duration: .2s;
    animation-fill-mode: forwards;
    animation-timing-function: ease-out;
  }

  @keyframes black-link-hover {
    from {color: inherit;}
    to {color: black;}
  }

  @keyframes black-link-hover-out {
    from {color: black;}
    to {opacity: inherit;}
  }
}

.class-type {
  color: #1bcef8;
}

.description {
  line-height: 1.5;
  font-size: 1.125rem;
}

.navbar {
  list-style: none;
  display: flex;
  flex-direction: column;
  padding: 0;
  font-weight: 300;
}

.navbar-item {
  font-size: 2.4rem;
}

.job-img-header {
  width: 100%;
}

.job-img-item {
  width: auto;
  max-width: 100%;
  padding: 1rem 0rem;
  object-fit: contain;
  max-height: 18rem;
  vertical-align: middle;
  animation-name: img-hover-out;
  animation-duration: .3s;
  animation-fill-mode: forwards;
  animation-timing-function: ease-out;
}

.job-img-item.sub-page {
  // min-width: 100%;
  max-height: 36rem;
}

.job-img-item:hover {
  animation-name: img-hover;
  animation-duration: .3s;
  animation-fill-mode: forwards;
  animation-timing-function: ease-out;
}

@keyframes img-hover {
  from {opacity: 1;}
  to {opacity: 0.7;}
}

@keyframes img-hover-out {
  from {opacity: 0.7;}
  to {opacity: 1;}
}

img { 
  .img-block {
    max-width: 100%;
  }
}

.software-list {
  display: flex;
  flex-direction: row;
  padding: 0;
  flex-wrap: wrap;
  align-items: center;
  justify-content: left;
}

.software-item {
  padding: 1rem 2rem 1rem 0;
  list-style-type: none;

}

.disclaimer {
  padding-right: 0;
  padding-bottom: 8rem;
  text-align: right;
  font-family: linotype-sabon,sans-serif;
  font-weight: 400;
  font-style: italic;
  font-size: 1.125rem;
}

.disclaimer-left {
  font-size: 1.125rem;
  display: inline;
}

h1 {
  font-weight: inherit;
}

h2 {
  font-family: Univers;
  font-size: 2.4rem;
  border-top: .3rem solid #1b00f8;
  width: fit-content;
  font-weight: inherit;
  padding-top: 1rem;
}

.slide-spacing{
  padding: 8rem 0;
}

.favicon {
  width: 10vw;
}

.develop {
  font-family: linotype-sabon;
  font-weight: 400;
  font-style: normal;
  color: #1b00f8;
  width: fit-content;
}

.design {
  font-family: linotype-sabon;
  font-weight: 400;
  font-style: normal;
  color: black;
  width: fit-content;
}